ul,
li {
	list-style: none;
}

body,
html {
	background-color: #faf6de;
	/*height: 100%;*/
}

h3,
h4 {
	font-family: 'Merriweather', serif;

}
/*body{
	background-image: url(../img/logo/fon.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.9;
}*/

.header {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)),
		url(../img/logo/fon.jpg);
	background-position: center;
	margin-bottom: 30px;
	margin-top: 15px;
}

.display-4 {
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
	color: var(--light);
}

.lead {
	margin-top: 20px;
	font-size: 2rem;
	font-weight: 300;
	color: yellowgreen;
}

.lead1 {
	font-size: 1.1rem;
	font-weight: 300;
	color: var(--light);
}

.product-img {
	/*width: 265px;*/
	max-width: 100%;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;

}

.item-title {
	font-size: 1.5rem;
	font-weight: 500;
	font-family: 'Merriweather', serif;
	height: 70px;
}

.roll-title {
	font-size: 14px;
	color: #8e8f90;
	text-align: center;
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
	background: #eb5a1e;
	color: #FFF;
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
	width: 90px;
	font-size: 16px;
	height: 26px;
	text-align: center;
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

.price {
	text-align: left;
}

.price__weight {
	color: #6c757d !important;
	font-size: 80%;
	line-height: 1;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.btn-outline-warning {
	color: #eb5a1e;
	border-color: #eb5a1e;
}

.btn-outline-warning:hover {
	color: #FFF;
	background-color: #eb5a1e;
	border-color: #eb5a1e;
}

.cart-item {}

.cart-item__top {
	display: flex;
	align-items: flex-start;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
}

.cart-item__img {}

.cart-item__img img {
	max-width: 50px;
	height: auto;
}

.cart-item__desc {

	padding-top: 15px;
	padding-left: 15px;
}

.cart-item__title {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
	color: #6c757d !important;
	font-size: 80%;
	line-height: 1;
	margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}

.cart-total {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	font-weight: 500;
}

.delivery-cost {}

.free {
	color: #0EA107;
}

.total-price {
	color: #EB5A1E;
}

.rouble {
	color: #EB5A1E;
}

.none {
	display: none;
}

.footer {
	margin-top: auto;
	/*padding: 60px 0 50px;*/
	background-color: var(--dark-bg);
	color: var(--header-text);
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 27px;
}

.social {
	padding: 15px;
	/*opacity: 0.9;
	background-color: #f9f5e6;
	border-radius: 0.25rem;
	/*column-gap: 30px;
	align-items: center;*/
}

.copyright {
	justify-content: space-between;
	font-size: 16px;
	color: #EB5A1E;
}

.adress {
	margin-top: 0px;
	margin-bottom: 3px;
}

.name {
	margin-top: 50px;
}

.title-2 {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 20px;
	color: #ef5512;
}

.content-list {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 5px;
	text-align: center;
}

.content-list a {
	color: black;
}